{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}[Contest {{c.id}}] {{c.title}}{% endblock %}</h1>
{% if is_manager %}
<a href="{{ url_for('contest.edit', contest_id=c.id) }}">Edit</a>
{% endif %}
{% endblock %}

{% block content %}
<table border="1" width="100%">
  <tr>
    <th>ID</th>
    <td>{{ c.id }}</td>
  </tr>
  <tr>
    <th width="20%">Title</th>
    <td width="80%">{{ c.title }}</td>
  </tr>
  <tr>
    <th>Start Time</th>
    <td>{{ c.start_time }}</td>
  </tr>
  <tr>
    <th>End Time</th>
    <td>{{ c.end_time }}</td>
  </tr>
</table>

{% if problems %}
<h2>Problems</h2>
<table border="1" width="100%">
  <tr>
    <th width="10%">#</th>
    <th width="60%">Title</th>
    <th width="15%">Score</th>
    <th width="15%">Total Score</th>
  </tr>
  {% for p in problems %}
  <tr>
    <td align="center">{{ p.idx }}</td>
    <td align="center"><a href="{{ url_for('contest.show_problem', contest_id=c.id, idx=p.idx) }}">{{ p.title or '' }}</a></td>
    <td align="center"></td>
    <td align="center">{{ p.score if p.score != None else '' }}</td>
  </tr>
  {% endfor %}
  <tr>
    <th>Total</th>
    <td></td>
    <td></td>
    <td align="center">{{ problems | sum(attribute='score') }}</td>
  </tr>
</table>
{% endif %}

{% endblock %}
