{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}[Judge Submission {{ s.id }}]{% endblock %}</h1>
  <a href="{{ url_for('submission.show', submission_id=s.id, contest_info=contest_info) }}">Show</a>
{% endblock %}

{% block content %}
<table border="1" width="100%">
  <tr>
    <th>ID</th>
    <th>Problem</th>
    <th>User</th>
    <th>Verdict</th>
    <th>Score</th>
    <th>Time</th>
  </tr>

  <tr>
    <td align="center">{{ s.id }}</td>
    <td align="center"><a href="{{ url_for('contest.show_problem', contest_id=contest_info['id'], idx=contest_info['idx']) if contest_info else url_for('problem.show', problem_id=s.problem_id) }}">{{ s.title }}</a></td>
    <td align="center"><a href="{{ url_for('user.info', user_id=s.user_id) }}">{{ s.name }}</a></td>
    <td align="center">{{ s.verdict }}</td>
    <td align="center">{{ s.score }}</td>
    <td align="center">{{ s.time }}</td>
  </tr>
</table>
<pre style="border-style: groove;">
{{s.answer}}
</pre>
<form method="post" action="{{ url_for('submission.judge', submission_id=s.id, contest_info=contest_info)}}">
Input Score: <input name="score" value="{{ '' if s.score == None else s.score }}">
<input type="submit" value="Score It!">
</form>
{% endblock %}
