<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - Melon OJ</title>
<nav>
  <a href="{{ url_for('index') }}"><img style="float:left" src="{{ url_for('static', filename='melon.png') }}" width="40", height="40"/></a>
  <h1 style="float: left"><a href="{{ url_for('index') }}">Melon OJ</a></h1>
  <ul style="float: left;">
    <li><a href="{{ url_for('problem.ls') }}">Problems</a></li>
    <li><a href="{{ url_for('contest.ls') }}">Contests</a></li>
    <li><a href="{{ url_for('submission.ls') }}">Submissions</a></li>
{% if g.user %}
    <li><a href="{{ url_for('jury.ls') }}">Jury</a></li>
{% endif %}
  </ul>
  <ul style="float: right;">
    {% if g.user %}
    <li><a href="{{ url_for('user.info', user_id=g.user.id) }}">{{ g.user.name }}</a>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a>
    <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
