{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Problems{% endblock %}</h1>
<a href="{{ url_for('problem.create') }}">Create</a>
{% endblock %}

{% block content %}
<form>
  <div align="center">
    <input style="width: 80%" name="search" value="{{ request.args['search'] }}" placeholder="Search" />
    <input style="width: 15%" type="submit" value="Search" />
  </div>
</form>
<table border="1" width="100%">
  <tr>
    <th width="10%">ID</th>
    <th width="70%">Title</th>
    <th width="10%">My Score</th>
    <th width="10%">Visibility</th>
  </tr>
  {% for p in probs %}
  <tr>
    <td align="center">{{ p.problem_id }}</td>
    <td align="left"><a href="{{ url_for('problem.show', problem_id=p.problem_id) }}">{{ p.title }}</a></td>
    <td align="center">
      {% if p.submission_id %}
      <a href="{{ url_for('submission.show', submission_id=p.submission_id) }}">
        {{ p.score if p.score != None else '--' }}
      </a>
      {% endif %}
    </td>
    <td align="center">{{ p.visibility }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
